/* NewMM styles */
.new-mindmap-container {
  text-align: center;
  padding-top: 60px;
  background-color: rgb(229, 225, 225);
  height: 100%;
}

.mindmap-form {
  background-color: white;
  padding: 10px;
  align-self: center;
}
